@model FrontEnd.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Detalles";
}

<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Detalles del Empleado</h3>
        </div>
        <div ="card-body">
            <hr />
            <dl class="row" style="margin-left: 1%;">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdEmployee)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdEmployee)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NationalId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NationalId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HireDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HireDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdJobTitle)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdJobTitle)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MonthlyGrossSalary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MonthlyGrossSalary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdEmployee" class="btn btn-info">Editar</a>
            <a asp-action="Index" class="btn btn-info">Volver a la Lista</a>
        </div>
    </div>
</div>